.nav-left {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #000;
    padding-left: 150px
}

    .nav-left img {
        width: 60px;
        border: 1px solid #000;
    }

.nav-center ul {
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.active li {
    margin-bottom: 5px;
}

.nav-center a {
    color: #fff;
    text-decoration: none;
}

    .nav-center a:hover {
        color: #110f0f;
    }


.nav-right {
    /*padding-right: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

    .nav-right ul {
        white-space: nowrap;
    }

.img-cuenta {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3rem;
}

.nav-bar {
    background-color: #000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    padding: 0 !important;
}

.body {
    flex: 1;
    overflow-y: scroll; /* Si el contenido es largo, aparecerá un scroll vertical */
    background-color: #f3f3f3; /* Color de fondo de la página */
}


ul {
    list-style: none;
    padding: 0;
}


.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Animación suave */
}

    .nav-link.active {
        color: #110f0f; /* Color de enlace activo */
        font-weight: bold;
        margin-bottom: -10px;
        background-color: #f3f3f3;
        border-radius: 5px 5px 0 0;
        padding-bottom: 10px;
        transform: translateY(5px); /* Mueve el enlace hacia abajo */
    }

        .nav-link.active a {
            color: black;
        }

    .nav-link:hover {
        color: #110f0f;
        border-radius: 5px 5px 5px 5px;
        background-color: #f3f3f3;
    }


/*    ////////////// BARRA LATERAL ////////////////////*/

.main-container {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.left-bar {
    background-color: wheat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
}

.main-layout {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%; /* Ocupar toda la altura de la ventana */
}

.container {
    flex: 1; /* Permite que el contenedor principal crezca para llenar el espacio restante */
    display: flex; /* Flex para organizar las columnas */
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.main-container {
    /* Ocupar todo el ancho restante */
    display: flex;
    flex-direction: column; /* Asegura que las columnas se alineen horizontalmente */
    background-color: #f3f3f3;
}


.nav-bar {
    height: auto;
    background-color: #000;
    padding: 0;
}

.left-bar {
    width: 20%; /* Ajusta el ancho de la barra lateral */
    height: 100%; /* Asegura que ocupe toda la altura */
    background-color: wheat;
    transition: .3s ease-in-out;
}

.icon-menu {
    position: fixed;
    top: 10px;
    left: 10px;
}

.left-bar {
    transition: transform 0.5s ease, opacity 0.5s ease !important;
    transform: translateX(0); /* Posición inicial */
    opacity: 1; /* Completamente visible */
}

    .left-bar.not-show {
        transform: translateX(-100%); /* Mover hacia la izquierda */
        opacity: 0; /* Oculto */
    }

.left-bar {
    transform: translateX(0); /* Volver a la posición original */
    opacity: 1; /* Visible */
}


.main-container {
    transition: .3s ease-in-out;
}

.nav-right li {
    list-style: none;
}

.nav-right a {
    color: #fff;
    text-decoration: none !important;
}

    .nav-right a:hover {
        color: #110f0f;
    }
