@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Layout/LoginLayout.razor.rz.scp.css */
.login-container[b-q34bbbipq7] {
    width: 100vw;
    height: 100vh;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.nav-left[b-qjep78vr78] {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #000;
    padding-left: 150px
}

    .nav-left img[b-qjep78vr78] {
        width: 60px;
        border: 1px solid #000;
    }

.nav-center ul[b-qjep78vr78] {
    height: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.active li[b-qjep78vr78] {
    margin-bottom: 5px;
}

.nav-center a[b-qjep78vr78] {
    color: #fff;
    text-decoration: none;
}

    .nav-center a:hover[b-qjep78vr78] {
        color: #110f0f;
    }


.nav-right[b-qjep78vr78] {
    /*padding-right: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

    .nav-right ul[b-qjep78vr78] {
        white-space: nowrap;
    }

.img-cuenta[b-qjep78vr78] {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3rem;
}

.nav-bar[b-qjep78vr78] {
    background-color: #000;
}

html[b-qjep78vr78], body[b-qjep78vr78] {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-layout[b-qjep78vr78] {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    padding: 0 !important;
}

.body[b-qjep78vr78] {
    flex: 1;
    overflow-y: scroll; /* Si el contenido es largo, aparecerá un scroll vertical */
    background-color: #f3f3f3; /* Color de fondo de la página */
}


ul[b-qjep78vr78] {
    list-style: none;
    padding: 0;
}


.nav-link[b-qjep78vr78] {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Animación suave */
}

    .nav-link.active[b-qjep78vr78] {
        color: #110f0f; /* Color de enlace activo */
        font-weight: bold;
        margin-bottom: -10px;
        background-color: #f3f3f3;
        border-radius: 5px 5px 0 0;
        padding-bottom: 10px;
        transform: translateY(5px); /* Mueve el enlace hacia abajo */
    }

        .nav-link.active a[b-qjep78vr78] {
            color: black;
        }

    .nav-link:hover[b-qjep78vr78] {
        color: #110f0f;
        border-radius: 5px 5px 5px 5px;
        background-color: #f3f3f3;
    }


/*    ////////////// BARRA LATERAL ////////////////////*/

.main-container[b-qjep78vr78] {
    width: 100%;
    height: 100%;
}

.container[b-qjep78vr78] {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.left-bar[b-qjep78vr78] {
    background-color: wheat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


html[b-qjep78vr78], body[b-qjep78vr78] {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
}

.main-layout[b-qjep78vr78] {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%; /* Ocupar toda la altura de la ventana */
}

.container[b-qjep78vr78] {
    flex: 1; /* Permite que el contenedor principal crezca para llenar el espacio restante */
    display: flex; /* Flex para organizar las columnas */
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.main-container[b-qjep78vr78] {
    /* Ocupar todo el ancho restante */
    display: flex;
    flex-direction: column; /* Asegura que las columnas se alineen horizontalmente */
    background-color: #f3f3f3;
}


.nav-bar[b-qjep78vr78] {
    height: auto;
    background-color: #000;
    padding: 0;
}

.left-bar[b-qjep78vr78] {
    width: 20%; /* Ajusta el ancho de la barra lateral */
    height: 100%; /* Asegura que ocupe toda la altura */
    background-color: wheat;
    transition: .3s ease-in-out;
}

.icon-menu[b-qjep78vr78] {
    position: fixed;
    top: 10px;
    left: 10px;
}

.left-bar[b-qjep78vr78] {
    transition: transform 0.5s ease, opacity 0.5s ease !important;
    transform: translateX(0); /* Posición inicial */
    opacity: 1; /* Completamente visible */
}

    .left-bar.not-show[b-qjep78vr78] {
        transform: translateX(-100%); /* Mover hacia la izquierda */
        opacity: 0; /* Oculto */
    }

.left-bar[b-qjep78vr78] {
    transform: translateX(0); /* Volver a la posición original */
    opacity: 1; /* Visible */
}


.main-container[b-qjep78vr78] {
    transition: .3s ease-in-out;
}

.nav-right li[b-qjep78vr78] {
    list-style: none;
}

.nav-right a[b-qjep78vr78] {
    color: #fff;
    text-decoration: none !important;
}

    .nav-right a:hover[b-qjep78vr78] {
        color: #110f0f;
    }
/* /Pages/Categorias.razor.rz.scp.css */
.header-categorias[b-bid4tchvs0] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
}

.div-header[b-bid4tchvs0] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-main[b-bid4tchvs0] {
    padding: 10px;
}

.div-categorias[b-bid4tchvs0] {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.card[b-bid4tchvs0] {
    width: 200px;
    height: 150px;
    border-radius: 10px !important;
    transition: .2s ease-in-out;
}

    .card:hover[b-bid4tchvs0] {
        box-shadow: 0px 0px 10px #000000ed !important;
        transform: translateY(1px);
    }

.modal[b-bid4tchvs0] {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content[b-bid4tchvs0] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px #b4bdbc;
    border-radius: 5px;
    height: 300px;
    width: 400px;
}

.loading[b-bid4tchvs0] {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert[b-bid4tchvs0] {
    z-index: 10;
    width: 400px;
    overflow: auto;
    position: fixed;
    bottom: 10px;
    left: 40%;
}
/* /Pages/Dashboard.razor.rz.scp.css */
.dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background-color: #f3f3f3;
}

.header-dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
}

.card.shadow-green[b-pups6hrtd0] {
    box-shadow: 0 0 10px #1a9d00 !important;
}

.card.shadow-red[b-pups6hrtd0] {
    box-shadow: 0 0 10px #930404 !important;
}

.card-body[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loading[b-pups6hrtd0] {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Pages/Footer.razor.rz.scp.css */
.footer[b-cwqt5vd184] {
    background-color: #000; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Centrar texto */
    padding: 5px; /* Espaciado interno */
    position: relative;
    width: 100%;
}

    .footer a[b-cwqt5vd184] {
        color: #ff5722; /* Color de los enlaces */
        text-decoration: none; /* Sin subrayado */
    }

        .footer a:hover[b-cwqt5vd184] {
            text-decoration: underline;
        }
/* /Pages/Login.razor.rz.scp.css */
*[b-w589mn0itl] {
    margin: 0;
    padding: 0;
}

.main-container[b-w589mn0itl] {
    /*background-color: aliceblue;*/
    background-image: url('/assets/imgs/background-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-container[b-w589mn0itl] {
    max-width: 700px;
}

.custom-position[b-w589mn0itl] {
    position: relative;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 200px #000;
    transition: .5s;
}

    .custom-position:hover[b-w589mn0itl] {
        box-shadow: 0 0 300px #004ead;
    }

.main-container[b-w589mn0itl] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.login-background[b-w589mn0itl] {
    background-image: url('/assets/imgs/background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    z-index: 0;
    top: 0;
    left: 0;
    margin-bottom: -10px;
}

    .login-background img[b-w589mn0itl] {
        width: 70px;
    }


.login-form[b-w589mn0itl] {
    /*border: .5px solid #6b6b6b;*/
    background-color: #0a0a0a;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 3;
    bottom: 0;
    right: 0;
    color: aliceblue;
    text-shadow: 0px 0px 10px white;
}


/* Contenedor del input y label */
.form-group[b-w589mn0itl] {
    position: relative;
    margin-top: 30px;
}

    /* Estilo del input */
    .form-group input[b-w589mn0itl] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }

    /* Estilo del label */
    .form-group label[b-w589mn0itl] {
        position: absolute;
        top: 5px;
        left: 12px;
        color: #aaa;
        padding: 0 4px;
        font-size: 16px;
        transition: 0.3s ease all;
        pointer-events: none;
    }

    /* Mueve el label hacia arriba al enfocar o al contener texto */
    .form-group input:focus + label[b-w589mn0itl],
    .form-group input:not(:placeholder-shown) + label[b-w589mn0itl] {
        top: -20px;
        font-size: 12px;
        color: #fff;
    }

.custom-border-radius[b-w589mn0itl] {
    /* Configuración para pantallas pequeñas (por defecto) */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media (min-width: 700px) {
    /* Configuración para pantallas grandes (lg en adelante, >992px) */
    .login-form[b-w589mn0itl] {
        /*        border-top-left-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;*/
        border-radius: 0 1rem 1rem 0;
        margin: 0;
        top: 0;
        right: 0;
    }

    .login-background[b-w589mn0itl] {
        border-radius: 1rem 0 0 1rem;
        height: 400px;
    }

        .login-background img[b-w589mn0itl] {
            width: 20rem;
        }

    .main-container[b-w589mn0itl] {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cambio-menu

.menu-container.alternate #menu1[b-w589mn0itl] {
    order: 2; /* Cambia el orden */
    transform: translateX(100%); /* Anima hacia la derecha */
}

.menu-container.alternate #menu2[b-w589mn0itl] {
    order: 1; /* Cambia el orden */
    transform: translateX(-100%); /* Anima hacia la izquierda */
}

.btn-enviar[b-w589mn0itl] {
    background-color: #f2f2f2;
    color: #000;
    transition: ease-in-out 0.3s;
    /*margin-left: 40px;*/
}

    .btn-enviar:hover[b-w589mn0itl] {
        background-color: white;
        box-shadow: 0 0 10px #00ffff;
        color: #00aaaa;
    }
/* /Pages/Transacciones.razor.rz.scp.css */
.modal[b-sfyyx6jpdl] {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content[b-sfyyx6jpdl] {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px #b4bdbc;
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

.header-transacciones[b-sfyyx6jpdl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 1.5rem;
}

.table-container[b-sfyyx6jpdl] {
    width: 95% !important;
    height: auto;
    padding: 10px !important;
}

.fila-transaccion td[b-sfyyx6jpdl] {
}

.fila-transaccion:hover[b-sfyyx6jpdl] {
    background-color: #61b9d566;
}

.modal-header[b-sfyyx6jpdl] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alert[b-sfyyx6jpdl] {
    z-index: 10;
    width: 400px;
    overflow: auto;
    position: fixed;
    bottom: 10px;
    left: 40%;
}

.btn-order[b-sfyyx6jpdl] {
    border-radius: 1.5rem;
    padding: 0 5px;
    background-color: white;
    border: .5px solid #000000;
    font-style: italic;
}

    .btn-order:hover[b-sfyyx6jpdl] {
        background-color: #bdbdbd;
        box-shadow: 0 0 0px #548bb0;
    }


.loading[b-sfyyx6jpdl] {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Widgets/ExcelReport.razor.rz.scp.css */
.download-excel[b-mz71fynwr2] {
}
/* /Widgets/Loading.razor.rz.scp.css */

.lds-ring[b-tb9re5wago],
.lds-ring div[b-tb9re5wago] {
    box-sizing: border-box;
}

.lds-ring[b-tb9re5wago] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div[b-tb9re5wago] {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid currentColor;
        border-radius: 50%;
        animation: lds-ring-b-tb9re5wago 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: currentColor transparent transparent transparent;
    }

        .lds-ring div:nth-child(1)[b-tb9re5wago] {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2)[b-tb9re5wago] {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3)[b-tb9re5wago] {
            animation-delay: -0.15s;
        }

@keyframes lds-ring-b-tb9re5wago {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* /Widgets/NavLeft.razor.rz.scp.css */
.container[b-71nseehv3n] {
    height: 100%;
}

    .container ul li[b-71nseehv3n] {
        list-style: none !important;
        color: black !important;
        font-weight: bolder;
        transition: .3s ease-in-out;
    }

        .container ul li:hover[b-71nseehv3n] {
            margin-left: 5px !important;
            color: #b7b7b7 !important;
        }

        .container ul li a[b-71nseehv3n] {
            text-decoration: none !important;
            color: black !important;
        }
