.dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background-color: #f3f3f3;
}

.header-dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
}

.card.shadow-green[b-pups6hrtd0] {
    box-shadow: 0 0 10px #1a9d00 !important;
}

.card.shadow-red[b-pups6hrtd0] {
    box-shadow: 0 0 10px #930404 !important;
}

.card-body[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loading[b-pups6hrtd0] {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinGastos[b-pups6hrtd0] {
    display: flex !important;
    height: 6rem !important;
    width: 100% !important;
    background-color: #fb9f9f !important;
    align-items: center !important;
    justify-content: center !important;
    color: #930404 !important;
}
