.dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    background-color: #f3f3f3;
}

.header-dashboard[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    padding: 10px;
}

.card-body[b-pups6hrtd0] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
