.modal[b-sfyyx6jpdl] {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content[b-sfyyx6jpdl] {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px #b4bdbc;
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

.header-transacciones[b-sfyyx6jpdl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 1.5rem;
}

.table-container[b-sfyyx6jpdl] {
    width: 95% !important;
    height: auto;
    padding: 10px !important;
}

.fila-transaccion td[b-sfyyx6jpdl] {
}

.fila-transaccion:hover[b-sfyyx6jpdl] {
    background-color: #61b9d566;
}

.modal-header[b-sfyyx6jpdl] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alert[b-sfyyx6jpdl] {
    z-index: 10;
    width: 400px;
    overflow: auto;
    position: fixed;
    bottom: 10px;
    left: 40%;
}

.btn-order[b-sfyyx6jpdl] {
    border-radius: 1.5rem;
    padding: 0 5px;
    background-color: white;
    border: .5px solid #000000;
    font-style: italic;
}

    .btn-order:hover[b-sfyyx6jpdl] {
        background-color: #bdbdbd;
        box-shadow: 0 0 0px #548bb0;
    }


.loading[b-sfyyx6jpdl] {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000033;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
