<footer class="footer d-flex justify-content-center align-items-center h-50px w-100">
    <div class="container">
        <p>&copy; 2024 - NatFab Software Solutions - Todos los derechos reservados.</p>
        <p><a href="/privacidad">Política de Privacidad</a></p>
    </div>
</footer>

@code {

}
